@using RecipeCollections.Utility
@using Microsoft.AspNetCore.Http
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Recipe Collections</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" type="text/css" href="~/css/toastr.css" />
    <link rel="stylesheet" type="text/css" href="~/css/jquery-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 " style="background-color:firebrick">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-page="/Index" style="color:white">Recipe Collections</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole(StaticDetails.AdminRole)) {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropDown" data-toggle="dropdown">
                                    Admin
                                </a>
                                <div class="dropdown-menu" style="background-color:firebrick">
                                    <a class="dropdown-item text-white" asp-page="/Admin/User/Index">Users</a>
                                    <a class="dropdown-item text-white" asp-page="/Admin/Recipe/Index">Recipes</a>
                                    <a class="dropdown-item text-white" asp-page="/Admin/Review/Index">Reviews</a>
                                </div>
                            </li>
                        }
                        @if (User.IsInRole(StaticDetails.CreatorRole)) {
                            <li class="nav-item">
                                <a class="nav-link text-white" method="post" asp-page="/Creator/Recipe/Index">My Recipes</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/Index">Home</a>
                        </li>
                            @if (Context.Session.Get<int>(StaticDetails.RecentlyViewedCount) != 0) {
                                var count = Context.Session.Get<int>(StaticDetails.RecentlyViewedCount);
                                <li>
                                    @if (!User.Identity.IsAuthenticated) {
                                    <a href="#SignInToUseModal" class="nav-link text-white" data-toggle="modal">
                                        <i class="fas fa-eye"></i>&nbsp; (@count)
                                    </a>
                                    } else {
                                    <a class="nav-link text-white" data-toggle="tooltip" data-placement="bottom" title="Recently Viewed" asp-page="/RecentlyViewed">
                                        <i class="fas fa-eye"></i>&nbsp; (@count)
                                    </a>
                                    }
                                </li>
                            } else {
                                <li>
                                    <a href="#recentlyViewedModal" class="nav-link text-white" data-toggle="modal">
                                        <i class="fas fa-eye"></i>&nbsp; (0)
                                    </a>
                                </li>

                            }
                    </ul>
                    <div class="modal fade" id="recentlyViewedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="recentlyViewedModal">Oops! No Recently Viewed Recipes</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    You haven't viewed any recipes recently! When you select a recipes image or title it will be added to your Recently Viewed.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="SignInToUseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="SignInToUseModal">Oops! You're Not Logged In</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Please login to see your recently viewed recipes.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-success" >Login</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted " style="background-color:firebrick">
        <div class="container text-white">
            &copy; 2020 - RecipeCollections
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous"></script>
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=tc71m1oacw0yqqzx8j2ppd3lffpolr47te5w0n7ih40mtb4f"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
