@page
@model IndexModel
@{
    ViewData["Title"] = "Recipe Collection Landing Page";
}

<div class="text-center">
    <h1 class="display-4">Recipe Collection Site</h1>
    <h13>This Page is Under Construction</h13>
</div>
